
.box {
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}
#rojo {
    color: red;
    font-weight: bold;
}

#azul {
    color: deepskyblue;
    font-weight: bold;
}

#naranja {
    color: orange;
    font-weight: bold;
}
